<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="/process" method="post"></form>
        <label for="name">Your Name</label>
        <input type="text" name="full_name">
        <label for="location">Dojo Location</label>
        <select name="dojo_locatiop" id="">
            <option value="san jose">San Jose</option>
            <option value="seattle">Seattle</option>
            <option value="boise">Boise</option>
            <option value="remote">Remote</option>
        </select>
        <label for="comment">Comment (optional)</label>
        <textarea name="comments" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    





<script src="/static/js/script.js"></script>    
</body>
</html>